
.class {
    color:#7bd5f5;
    color: #787FF6;
    color: #4ADEDE;
    color:#1CA7EC;
    color:#1F2F98;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67vh;
    width: 100%;
    font-family: sans-serif;
    background-color: azure;
}

main {
    height: 100%;
    width: 100%;
    text-transform: capitalize;
    background-color: azure;
}

.dashboard {
    display: flex;
    height: 90%;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* box-shadow: -1px 1px 10px gray; */
}

.menu {
    /* border: 1px solid black; */
    height: 100%;
    width: 25%;
    border-radius: 10px 0 0 10px;
    background-color: rgba(65, 85, 90, 1);
    border: 1px solid white;
}

.input {
    display: flex;
    /* justify-content: space-around; */
    margin-left: 20px;
    padding-top: 25px;
}

#inputBar {
    width: 6rem;
    border-radius: 10px 0 0 10px;
    border: none;
    padding-left: 5px;
    padding: 5px;
}

#inputBar:focus {
    outline: none;
}

#inputBtn {
    border-radius: 0 10px 10px 0;
    border: none;
    padding-right: 10px;
    color: white;
    background-color: gray;
}

#inputBtn:active {
    /* background-color: lightgray; */
    box-shadow: 1px 1px 5px black;
}

.recent {
    list-style-type: none;
    /* background-color: white;
    font-size: 1.5rem;
    margin-left: 20px;
    border-radius: 15px 0 0 15px; */
}

.listItem {
    display: flex;
    align-items: center;
    height: 2rem;
    background-color: white;
    font-size: 1.5rem;
    margin: 0 0 5px 10px;
    padding-left: 10px;
    border-radius: 15px 0 0 15px;
}

.listItem:hover {
    background-color: lightblue;
    color: white;
}

#clear {
    display: flex;
    justify-content: center;
    color: white;
    cursor: pointer;
}

#clear:hover {
    text-decoration: underline;
}

.right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    color: white;
    text-shadow: -1px 1px 1px black;
}

.today {
    /* border: 1px solid black; */
    border-radius: 0 10px 0 0;
    height: 50%;
    background-color: rgba(65, 85, 90, 1);
    color: white;
    text-align: center;
    /* padding-top: 20px; */
}

.todayHeader {
    /* position: relative; */
    height: 15%;
    display: flex;
    /* height: 5%; */
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
}

#temp {
    font-size: 3rem;
    /* padding-top: .5rem; */
}

.description {
    /* position: relative; */
    height: 50%;
    background-color: #7bd5f5;
    /* padding-top: 5px; */
    font-weight: bold;
    color: white;
    text-shadow: -1px 1px 1px black;
}

.todayFooter {
    /* position: relative; */
    height: 35%;
    /* bottom: -10px; */
}

#humid {
    padding-top: 10px;
}
    
.future {
    /* border: 1px solid black; */
    border-radius: 0 0 10px 0;
    height: 50%;
    background-color: lightblue;
    /* padding-top: 20px; */
    text-align: center;
}

.dayTemp {
    font-size: 2rem;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

h2 {
    display: inline;
    /* height: 10%; */
}

.days {
    display: flex;
    height: 90%;
    justify-content: space-around;
}